@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bgcolor: hsl(217, 54%, 11%);
  --cardbgcolor: hsl(216, 50%, 16%);
  --cardlinecolor: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --mfont: "Outfit";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--bgcolor);
}
.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardcontent {
  background-color: var(--cardbgcolor);
  border-radius: 15px;
  padding-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px black;
  width: 22em;
  height: 75vh;
}
.cardcontent h1 {
  font-family: var(--mfont);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--white);
}
.cardtext {
  margin-left: 1.2em;
  margin-top: 1em;
}
.nftimage {
  border-radius: 10px;
  width: 310px;
  overflow: hidden;
}
.nftimage img {
  width: 100%;
}
